.nav__cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.2rem;
}

.nav__logoCont {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav__logo img {
  width: 40px;
}

.nav__logoText {
  font-size: 25px;
  font-weight: 600;
}

.nav__menus {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.nav__menuItem {
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.nav__menuItem:hover {
  background-color: var(--primary-color);
  color: white;
}

.nav__menuItem.active {
  background-color: var(--primary-color);
  color: white;
}

.nav__btnCont {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav__btn {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transform: 0.3s;
}

.nav__btn:hover {
  color: white;
  background-color: var(--primary-color);
}
.nav__btn.active {
  color: white;
  background-color: var(--primary-color);
}
